<%- include("partials/head") -%> 


     <div class="list">
        <div class="menu">
            <h3>Fresh snail</h3>
            <img src="img/frl.jpg" alt="fresh snail">
            <a href="/menu/fresh" id="fresh">Order now</a>
    
          </div>
    
          <div class="menu">
            <h3>Dried snail</h3>
            <img src="img/drs.jpg" alt="dried snail">
            <a href="/menu/dried">Order now</a>
          </div>
    
          <div class="menu">
            <h3>Peppered snail</h3>
            <img src="img/prs12.jpg" alt="Peppered snail">
            <a href="/menu/peppered">Order now</a>
          </div>
     </div>






      <script src="js/index.js"></script>
    </body>
    </html>