<%- include("partials/head") -%> 


        <div class="contact">
            <h1>Contact us</h1>
            <a class="btn"   id="email" href="mailto:salaudeenafusat2008@gmail.com">salaudeenafusat2008@gmail.com</a>
            <P>PHONE: 08174580638</P>      
      
        <div class="bottom-container">
          <a class="footer-link" href="https://www.facebook.com/sanuth.rahman.7/">Facebook</a>
          <a class="footer-link" href="https://www.instagram.com/sanuthrahman/">Instagram</a>
          <p class="cr">© 2023 Sanuth.</p>
        </div>
        </div>


</body>
</html>