<%- include("partials/head") -%> 

            <div class="topic">
                <h1>Bee cart  Welcome's you</h1>
        
                <p>We have fresh snails and healthy ones for rearing and eating</p> 
            </div>
            
      
      <div class='landing'>
        <div class="news">


                <div class="carousel-news-1  car1">
                        <img class="card" src="img/Dried/jumbo.jpg" alt="news" />
                      <p class="card-title"> We make sure you are satisfied and full </p>
                </div>


                 <div class="carousel-news-2  car1">
                    <img class="card" src="img/dd.jpg" alt="news" />
                    <p class="card-title">Welcome we have varieties of snails either healthy for the rearing</p>
                </div> 
                <div class="carousel-news-3  car1">
                    <img class="card" src="img/peppered/prs12.jpg" alt="news" />
                    <p class="card-title">We prepare delicious snaiils for you on any occasion</p>
                </div> 
        </div>

    </div>      
    <div class="main">        
        <img class="mainL" src="img/lg-prc/logoR.svg" alt="">
    </div>



    <div>
        <h1>No matter where you are we provide a great discount to you</h1>
    </div>

    <div>
        <h2>Order now and receive it the next day</h2>
        <p>With our premium service to our customer we make sure to deliver our gooods to you as early as possible or you can come to our farm/store to buy or see the product</p>
    </div>

    <div>
        <h2>What we offer</h2>
        <p>We offer a wide range of service to our customer, not just to retailers we provide cooking service too for different occations </p>
    </div>

    <div class="list">
        <div>
            <div class="img">
                <img src="img/d.jpg" alt="snail">
            </div>
            <p>Live snails</p>
        </div>

        <div>
            <div class="img">
                <img src="img/peppered/prs2.jpg" alt="snail">
            </div>
            <p>Cooked snail</p>
        </div>
    </div>

    <a href="/menu" class="btn">Order</a>


    <div class="con">
        <h2>About</h2>
        <p>bee is a company where we focuse on snail for selling, retailing and consumption it is located in ikorodu, we have a lot of branches in ikeja, agege, etc. We make sure our consumer receive premium service we don't just sell we make contact even after the customer purchase and assist them until everything is stable and going well, you can contact us on the <a href="contact.html">contact</a> page</p>


    </div>
    <script src="js/index.js"></script>
</body>
</html>